body {
  font-family: Arial, Helvetica, sans-serif;
}
ul li {
  list-style: none;
}
ul {
  padding: 0;
}
.bold {
  font-weight: 800;
}
#storeResults ul {
  display: inline-block;
  margin: 10px;
}
table {
  table-layout: fixed;
  width: 100%;
  border-collapse: collapse;
  text-align: center;
}
table td {
  border:1px solid black;

}
thead {
  font-weight: 800;
  background: rgb(212, 236, 238);

}
tfoot {
  background: rgb(212, 236, 238);
}